.leyuan-box{
	width: 100%;
	margin-bottom: 1.2rem;
}
.leyuan-nav{
	width: 100%;
	height: 1rem;
	position: relative;
	z-index: 2;
}
.leyuan-nav ul{
	background: white;
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.leyuan-nav ul li{
	width: 33.33%;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
	box-sizing: border-box;
}
.leyuan-nav ul li a{
	font-size: 0.32rem;
	font-weight: bold;
	color: black;
}
.leyuan-nav ul li:hover{
	border-bottom:0.04rem solid #E76C65 ;
}
/*选项卡*/
.xuanxiangka{
	width: 100%;
	height:11.36rem;
	background: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 2;
	display: none;
}
ol{
	width: 100%;
	background: white;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	z-index: 3;
	top: 1rem;
	opacity:0;
}
ol li{
	width: 33.33%;
	height: 0.9rem;
	box-sizing: border-box;
	border: 1px solid #AEAEAE;
	text-align: center;
	line-height: 0.9rem;
}
li a{
	#AEAEAE
}
/*内容*/
.leyuan-container{
	width: 100%;
	/*position: absolute;*/
}
.container-content{
	width: 100%;
	position: relative;
	border
	margin-bottom: 0.1rem;
}
.container-content:before{
	content: '';
	display: block;
	padding-top: 38.90%;
}
.container-content a{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	/*background: url(images/leyuan2.jpg) no-repeat;*/
	background-size: contain;
}
.lexiang{
	position: absolute;
	right: 0;
	top: 0;
}
.lexiang img{
	width: 1rem;
	height: 1rem;
}
.img-disc{
	position: absolute;
	left: 0.2rem;
	bottom:0;
	width: 5.86rem;
	height: 1rem;
	display: flex;
	justify-content: space-between;
}
.img-disc-left{
	color: white;
}
.img-disc-left span,.img-disc-left p{
	font-size: 0.32rem;
}
.img-disc-right dl{
	display: flex;	
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.img-disc-right dl dt{
	width: 0.4rem;
	height: 0.4rem;
	background: url(images/position_03.png);
	background-size: contain;
}
.img-disc-right dd,.img-disc-right dd span{
	font-size: 0.32rem;
	color: white;
	font-weight: 200;
}

.footer dt{
	width: 0.4rem;
	height: 0.4rem;
	background-image: url(images/footer1-1.JPG);
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: 0.05rem;
}
.footer dd{
	color: #B1B1B1;
}
.footer .dt1{
	color: #B1B1B1;
}
.footer .dt2{
	background-image: url(images/footer2-2.png);
}
.footer .dt3{
	background-image: url(images/footer3-1.png);
}
.footer .dt4{
	background-image: url(images/footer4-1.png);
	background-size: contain;
}
.footer .dt2~dd{
	color: #D1747B;
}