<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<link rel="stylesheet" href="../css/bootstrap.css" />-->
		<title></title>
	</head>
	<body>
		<div class="myzhanghao-box">
			<div class="myzhanghao-show">
				<p class="a9color">余额</p>
				<p class="p-span"><span>0.00</span>元</p>
				<div class="money">
					<p class="a9color">可转出余额：<span class="font1">0</span>元</p>
					<p class="shenqingzhuanchu"><a href="#">申请转出</a></p>
				</div>
				<p class="a9color">可用乐币：<span class="font1">0</span></p>
			</div>
			<div class="myzhanghao-list">
				<div class="shouzhi">收支明细</div>
				<div class="shenqing">申请记录</div>
			</div>
			<div class="myzhanghao-data">
				<p>没有数据</p>
			</div>
		</div>
	</body>
</html>
