<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<!--<link rel="stylesheet" href="../mycss/page1.css" />-->
		<title></title>
	</head>
	<body>
		<div class="page1-box" id="page1-box">
			<div class="page1-log"></div>
			<div class="page1-radius"></div>
			<p>定位中...</p>
			<div class="page1-img"></div>
		</div>
	</body>
</html>
<script>
	document.documentElement.style.fontSize=innerWidth/6.4+'px';
	window.onresize=function(){
		document.documentElement.style.fontSize=innerWidth/6.4+'px';
	}
</script>

