<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
	</head>
	<body>
		<div class="myindent">
			<div class="myindent-box">
				<h1>新都乐享30次卡</h1>
				<div class="myindent-list">
					<ul>
						<li><span>数量</span><label>1</label></li>
						<li><span>单价</span><label>1700.00</label></li>
						<li><span>联系方式</span><label style="color: black;" contenteditable="true">1860075693<i class="glyphicon glyphicon-pencil" style="color: black;"></i></label></li>
						<li><span>使用余额</span><label class="labellast">0.00<i class="myindent-list-i"></i></label></li>
					</ul>
				</div>
						
			</div>
			<div class="myindent-footer">
				<a href="javascript:">实付款：<span>1700.00</span></a>
				<a href="#">立即支付</a>
			</div>
		</div>
	</body>
</html>
