<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="../myjs/myshikou.js" ></script>
		<link rel="stylesheet" href="../css/bootstrap.css" />
		<link rel="stylesheet" href="../mycss/wodetucao.css" />
		<link rel="stylesheet" href="../mycss/gongyong.css" />
		<script type="text/javascript" src="../lib/jquery-3.0.0.js" ></script>
		<title></title>
	</head>
	<body>
		<div class="mytucao">
			<div class="mytucao-mengban"></div>
			<form>
				<div class="mytucao-liuyan">
					<p class="mytucao-content" contenteditable="true">
						您想吐槽什么？请输入...
					</p>
					<p class="mytucao-tel">
						<input placeholder="怎么联系您？" />
					</p>
					<div class="mytucao-tijiao">
						<button>取消</button>
						<button>提交</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>
