<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
	</head>
	<body>
		<div class="wode">
			<div class="wode-log">
				<img src="images/mohu_03.png" />
				<div class="wode-log-in"></div>
				<div class="wode-log-erwei"></div>
				<i class="glyphicon glyphicon-qrcode"></i><span class="glyphicon glyphicon-menu-right"></span>
			</div>
			<div class="wode-list">
				<ul>
					<li><a href="#">我是代言人</a><a href="#">&gt;</a></li>
					<li><a href="#/tijiaodingdan">我的订单</a><a href="#/tijiaodingdan">&gt;</a></li>
					<li><a href="#">我的优惠券</a><a href="#">&gt;</a></li>
					<li><a href="#/myzhanghao">我的账号</a><a href=#/myzhanghao">&gt;</a></li>
					<li><a href="#">玩乐同城</a><a href="#">&gt;</a></li>
					<li id="tucao"><a href="script:">我要吐槽</a><a href="script:">&gt;</a></li>
				</ul>
			</div>
			<!--吐槽-->
			<div class="mytucao">
				<div class="mytucao-mengban" id="mytucao-mengban"></div>
				<form>
					<div class="mytucao-liuyan" id="mytucao-liuyan">
						<p class="mytucao-content" contenteditable="true">
							您想吐槽什么？请输入...
						</p>
						<p class="mytucao-tel">
							<input placeholder="怎么联系您？" />
						</p>
						<div class="mytucao-tijiao">
							<button id="quxiao">取消</button>
							<button>提交</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
