.wed header{
	width: 16rem;
	height: 4rem;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	
}
.wed #wed-wrapper{
	top: 0;
}
.wed header .title a{
	color: #ff705e;
	display: inline-block;
}
.wed header .title{
	height: 2rem;
	/*line-height: 2rem;*/
	border-bottom: 1px solid #e6e6e6;
}
.wed header .header-back{
	margin-left: 0.6rem;
}
.wed header .header-title{
	color: #ff705e;
	display: inline-block;
	margin-left: 4.35rem;
	line-height: 2rem;
	font-size: 1rem;
}
.wed header .glyphicon{
	font-size: 0.8rem;
}
.wed header .header-search{
	margin-left: 1.8rem;
}
.wed header .header-shopcar{
	margin-left: 1.15rem;
}
.wed header .nav{
	height: 1.5rem;
}
.wed header .nav .glyphicon{
	font-size: 0.3rem;
	
}
.wed header .nav ul li{
	width: 50%;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
	margin-top: 0.325rem;
	float: left;
}
.wed header .nav ul .firstnav{
	border-right: 1px solid #e6e6e6;
	
}
.wed .firstnav-ol{
	background: white;
	width: 16rem;
	height: 12rem;
	overflow-y: scroll;
	display: none;
}

.wed .secondnav-ol{
	background: white;
	width: 16rem;
	display: none;
	margin-top: 1.6rem;
}
/*.secondnav-ol li{
	width: 16rem;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: left;
}*/
.wed .secondnav-ol a:nth-child(1){
	/*color: #ff705e;*/
}
/*.secondnav-ol a:nth-child(2){
	color: #696969;
}*/
#wedsearch{
	position: absolute;
    top: 0;
    left: 3rem;
    width: 8.5rem;
    height: 1.8rem;
    border-radius: 3rem;
    outline: none;
    border: none;
    box-shadow: 0 0 0.5rem 0 gray;
    text-align: center;
    display: none;
}
.wed header .nav ol a:nth-child(1) li{
	border-top: 1px solid #e6e6e6;
	height: 1.7rem;
}
/*.wed .firstnav-ol a:nth-child(2){
	color: #ff705e;
}*/
.wedactive{
	color: #ff705e;
}
.wed .selected{
	float: right;
	padding-right: 1rem;
}
.wed header .nav ol li{
	width: 16rem;
	height: 1.5rem;
	text-align: left;
	padding-left: 10px;
	line-height: 1.5rem;
	border-bottom: 1px solid #e6e6e6;
	
}
.wed .shop-box{
	width: 16rem;
	margin-top: 4rem;
}
.wed .shop-box ul li{
	width: 7.4rem;
	margin-left: 0.375rem;
	float: left;
}
.wed .shop-img{
	width: 100%;
	padding-bottom: 0.7rem;
}
.wed .shop-img img{
	width: 100%;
	height: 7.45rem;
}
.wed .shop-img .shop-describe{
	width: 5.925rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.3rem;
}
.wed .shop-img .shop-price{
	font-family: "微软雅黑";
	line-height: 0.7rem;
}
.wed .shop-img .shop-price span:nth-child(1),
.wed .shop-img .shop-price span:nth-child(2)
{
	color: #ff705e;
}
.wed .shop-img .shop-price span:nth-child(3),
.wed .shop-img .shop-price span:nth-child(4){
	float: right;
	z-index: -1;
}
.wed .tcf-flex{
	display: block;
}
#footer{
	display: none;
}
