		<link rel="stylesheet" type="text/css" href="css/book.css" />
	<div class="book-2">
		<header class="book-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2">
						<a href="#/book-1">
							<span class="glyphicon glyphicon-menu-left"></span>
						</a>
					</div>
					<div class="col-xs-7">添加宾客礼金</div>
					<div class="col-xs-3">完成</div>
				</div>
			</div>
		</header>
		<section class="book-2-bd">
			<div>姓名：<input type="text" placeholder="输入宾客姓名"/><span class="pull-right glyphicon glyphicon-plus-sign"></span></div>
			<div>金额：<input type="text" placeholder="输入宾客礼金"/><span class="pull-right">（元）</span></div>
			<div><textarea placeholder="输入备注"></textarea></div>
		</section>
	</div>
