		<link rel="stylesheet" type="text/css" href="css/book.css" />

	<div class="book-1">
		<header class="book-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2">
						<a href="#/tool">
							<span class="glyphicon glyphicon-menu-left"></span>
						</a>
					</div>
					<div class="col-xs-8">礼金记账本</div>
					<div class="col-xs-2"></div>
				</div>
			</div>
		</header>
		<section class="book-1-bd">
			<p>您还未添加礼金记录</p>
			<a href="#/book-2"><div>立即添加</div></a>
		</section>
	</div>
