		<link rel="stylesheet" type="text/css" href="css/budget.css" />

	<div class="budget-1">
		<header class="budget-1-hd">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-2">
						<a href="#/tool">
							<span class="glyphicon glyphicon-menu-left"></span>
						</a>
					</div>
					<div class="col-xs-8">结婚预算</div>
					<div class="col-xs-2"></div>
				</div>
			</div>
		</header>
		<section class="budget-1-bd">
			<input type="text" placeholder="请输入您的预算总额"/>
			<a href="#/budget-2"><input type="button" value="开始计算" /></a>
		</section>
	</div>
