		<link rel="stylesheet" href="css/buyshoes.css">
		<header class="tcf-flex tcf-justify-justify">
			<a href="javascrit:" ng-click="back()" class="back" style="font-size: 1rem;line-height: 1.5rem;color: black;">&lt;</a>
			<div>
				<span class="glyphicon glyphicon-star-empty"></span>
				<span class="glyphicon glyphicon-share"></span>
				<a href="javascript:;"><span class="glyphicon glyphicon-shopping-cart"></span></a>
			</div>
		</header>
		<div class="main">
			<div class="banner">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="img/images/shoelb1.jpg"></div>
						<div class="swiper-slide"><img src="img/images/shoelb2.jpg"></div>
						<div class="swiper-slide"><img src="img/images/shoelb3.jpg"></div>
						<div class="swiper-slide"><img src="img/images/shoelb4.jpg"></div>
						<div class="swiper-slide"><img src="img/images/shoelb5.jpg"></div>
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			
			<div class="wedding-status">
				<p>婚鞋女亮片舒适浅口真皮新娘鞋子欧美婚纱鞋细跟尖头高跟鞋单鞋</p>
				<p><span>￥129.00</span>&nbsp; <span><del>￥215.00</del></span><span>运费：包邮</span></p>
				<p><span class="glyphicon glyphicon-ok-sign"></span>支持退货</p>
			</div>
			
			<div class="wedding-merchant tcf-flex tcf-justify-start">
				<img src="img/images/liangyuan.jpg">
				<div class="wedding_mer_info">
					<div class="info_cont">
						<p>良缘婚鞋坊</p>
						<span>总销量<i class="zcont">717</i></span>
						<span>关注<i class="zsee">1931</i></span>
					</div>
				</div>
				<a class="wedding_go_mer" href="javascript:;">进店逛逛</a>
			</div>
		
			<div class="wedding-count">
				<p>*本店婚鞋【全场包邮】】<br>*升级进口特殊鞋面，在阳光和灯光下，犹如万颗水晶镶嵌一般，更加的闪烁发亮<br>*不管是配婚纱还是平常穿着，都是美美的<br>*鞋子内里加厚高弹乳胶垫，穿着柔软舒服不累脚<br>*鞋跟稳固，走路很稳<br>*真皮内里，舒服不臭脚，不湿闷<br>*尺码大半码<br><br>-------------我们收到订单会第一时间给您发货，不耽误新人们最重要的时间---------------------------<br><br>【  关于售后  】<br><br>*7天无理由退换货；</p>
			</div>
			
			<!--<div class="user-comment"></div>-->
		</div> <!-- main-end-->
		
		
		
		<footer class="tcf-flex tcf-justify-start">
			<a href="javascript:;"><img src="img/images/lianxi_03.png"> 联系卖家</a>
			<div class="add-car">加入购物车</div>
			<div class="atonce-buy">立即购买</div>
		</footer>
		
		
	<script>
		var mySwiper = new Swiper('.swiper-container', {
//		    autoplay: 2000, //可选选项，自动滑动
		    autoplayDisableOnInteraction:false,
		    pagination:'.swiper-pagination',
		    loop:true
		})
	</script>
