		<link rel="stylesheet" type="text/css" href="css/mime.css"/>
		<div class="mini-wrap" style="margin-bottom: 2rem;">
		<div id="header">
			<ul id="hdList">
				<li><a href="javascript:"><img class="imgLeft" src="img/images/我的2_03.png"/></a></li>
				<li>我的</li>
				<li><a href="javascript:"><img class="imgRight" src="img/images/我的2_05.png"/></a></li>
			</ul>
		</div>
		<div id="user">
			<div id="userCon">
				<div class="userImg">
				<img src="img/images/我的2_09.jpg"/>
			</div>
			<div class="userName">
				<h5>手机用户1864</h5>
				<p>婚期: 2017-10-03</p>
			</div>
			<div class="userRight">
				<span class="glyphicon glyphicon-menu-right">
					
				</span>
			</div>
			</div>
		</div>
		<div id="nav">
			<ul id="navList">
				<li><a href="#/yuyue">
					<img src="img/images/我的2_13.png"/>
					<p>预约</p>
				</a></li>
				<li><a href="#/dingdan">
					<img src="img/images/我的2_15.png"/>
					<p>订单</p>
				</a></li>
				<li><a href="#/shopcar">
					<img src="img/images/我的2_17.png"/>
					<p>购物车</p>
				</a></li>
				<li><a href="javascript:">
					<img src="img/images/我的2_19.png"/>
					<p>签到</p>
				</a></li>
			</ul>
		</div>
		
		<div id="main">
			<ul id="mainList">
				<li><a href="javascript:">
					<img src="img/images/我的2_25.png"/>
					<b>钱包</b>
					<span>红包、兑换码<i class="glyphicon glyphicon-menu-right"></i></span>
				</a></li>
				
				<li><a href="javascript:">
					<img src="img/images/我的2_28.png"/>
					<b>金融</b>
					<span>分期、贷款、办卡<i class="glyphicon glyphicon-menu-right"></i></span>
				</a></li>
				
				<li><a href="#/shoucang">
					<img src="img/images/我的2_30.png"/>
					<b>收藏</b>
					<span>收藏的套餐、案例和商品<i class="glyphicon glyphicon-menu-right"></i></span>
				</a></li>
				
				<li><a href="#/atteneion">
					<img src="img/images/我的2_32.png"/>
					<b>关注</b>
					<span>关注的标签、商家和用户<i class="glyphicon glyphicon-menu-right"></i></span>
				</a></li>
				
				<li><a href="#/huati">
					<img src="img/images/我的2_34.png"/>
					<b>话题</b>
					<span>发布和收藏的话题<i class="glyphicon glyphicon-menu-right"></i></span>
				</a></li>
				
				<li><a href="#/huodong">
					<img src="img/images/我的2_36.png"/>
					<b>活动</b>
					<span>0元活动<i class="glyphicon glyphicon-menu-right"></i></span>
				</a></li>
				
				<li><a href="#/shangjia">
					<img src="img/images/我的_03.png"/>
					<b>我是商家</b>
					<span>免费入住<i class="glyphicon glyphicon-menu-right"></i></span>
				</a></li>
				
				<li><a href="javascript:">
					<img src="img/images/我的_06.jpg"/>
					<b>联系客服</b>
					<span><i class="glyphicon glyphicon-menu-right"></i></span>
				</a></li>
			</ul>
		</div>
</div>