<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script type="text/javascript" src="../js/zishiying.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/huati.css"/>
		<title></title>
	</head>
	<body>
		<div id="header">
			<img src="../img/images/我的关注_03.jpg"/>
			<span>
				我的话题
			</span>
		</div>
		<div id="nav">
			<ul id="navList">
				<li class="first"><a href="#">发布</a></li>
				<li><a href="#">回帖</a></li>
				<li><a href="#">收藏</a></li>
			</ul>			
		</div>
		<div id="content">
			<div class="bgImg">
				
			</div>
			<p>这里空空的，什么也没有</p>
		</div>
	</body>
</html>
