<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<script type="text/javascript" src="../js/zishiying.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/car.css"/>
		<title></title>
	</head>
	<body>
		<div id="header">
			<img src="../img/images/我的关注_03.jpg"/>
			<span>
				购物车	
			</span>
		</div>
		<div id="content">
			<div class="bgImg">
				
			</div>
			<p>购物车还是空的哦</p>
		</div>
	</body>
</html>
